<!DOCTYPE html>
<html>
  <head>
    <title>PokemonBackup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "Pokemon Backup", root_url %></h1>

    <div id="loading">Loading&#8230;</div>

    <div class="content">
      <% if flash[:notice] %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
